.b-main {
	width: 1000px;
	margin: 0 auto 0 auto;

	font-family: Arial, Helvetica, sans-serif;

	.b-header {
		font-size: 32px;
		font-weight: normal;
	}

	.b-subheader {
		font-size: 16px;
		color: #aaa;
	}
}